.gutenberg-layout-container > * {
  @include xy-grid-container;

  &.fluid {
    @include xy-grid-container(100%);
  }

  &.full {
    @include xy-grid-container(100%, 0);
  }
}
.gutenberg-layout-container {
  .wp-block-cover {
    @include xy-grid-container(100%);
    .wp-block-cover__inner-container {
        @include xy-grid-container;
    }
  }

  .wp-block-button {
    a.wp-block-button__link {
      @include button-style;
      @include button-base;
      text-transform: uppercase;
    }
  }
  /* F6 Overwrites */
  .radius {
    border-radius: $global-radius * 3;
  }
  /* Custom Blocks */
  .home-hero {
    color: $white;
    * {
      color: $white;
      .button.success {
        color: $black;
      }
    }
    font-weight: $header-font-weight;
    font-family: $header-font-family;

    input {
      color: $black;
    }

    &__checkbox {
      position: relative;
      float: left;

      &:not(:last-of-type) {
        margin-right: .8rem;
      }

      input {
        position: absolute;
        left: -100vw; 
      }

      label {
        padding-left: .8rem; 
      }

      label::after {
        content: '';
        position: absolute;
        top: .4rem;
        left: 0;
        width: .8rem;
        height: .8rem;
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 2px;
      }

      input:checked ~ label::after {
        background-image: url('../img/check.svg');
      }
    }
  }
}
