@font-face {
    font-family: 'Montserrat-Bold';
    // src: url('../fonts/apercu-black-web/apercu-black.eot');
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    // src: url('../fonts/apercu-black-web/apercu-black.eot');
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source-Serif-Regular';
    // src: url('../fonts/apercu-black-web/apercu-black.eot');
    src: url('../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source-Serif-Bold';
    // src: url('../fonts/apercu-black-web/apercu-black.eot');
    src: url('../fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source-Sans-Pro-Regular';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source-Sans-Pro-Bold';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Material-Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../../assets/fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../assets/fonts/MaterialIcons-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../assets/fonts/MaterialIcons-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.material-icons {
    font-family: 'Material-Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
