// --------------------------------------------------------------------------------------------------------------------
// Colors definition
// --------------------------------------------------------------------------------------------------------------------
$green: #3D865D;
$light-green: #E3FEF4;
$neon: #E0F800;
$dark-neon: #9BB828;
$light-neon: #F5F8D1;
$blue: #019CDE;
$light-blue: #eeeaff;
$red: #f21b5a;
$light-red: #fde8f0;
$dark-blue: #002145;
$dark-red: #883535;
$dark-green: #326151;
$lighter-gray: #f8f9fa;


$wlo-blue: #003E82;
$wlo-lightgreen: #E3F702;
$wlo-red: #EC4A70;

$wlo-primary: #003B7C;
$wlo-primary-dark: #0A2844;
$wlo-neon: #146B42;
$wlo-neon-dark: #45802F;

//$wlo-editorial-dark: #383838;
//$wlo-editorial-light: #555555;

$wlo-editorial-dark: #032850;
$wlo-editorial-light: #CCD8E5;
