/* Global */
html, body {
	font-family: 'Source-Sans-Pro-Regular', sans-serif;
	font-size: 20px;
	color: #313131;
}
/* Headlines */
h1, h2 {
	color: #313131;
}
/* Sans */
.sans,
label,
.label,
.select2-container {
	font-family: 'Montserrat-Medium';
	font-weight: normal;
}
/* Sans Bold */
.title-bar-title {
	font-family: $header-font-family;
}
/* Menus */
.menu,
.widget ul {
	li {
		&.current-menu-item > a,
		&.current-menu-parent > a {
			text-decoration: underline;
		}
		a {
			font-family: $header-font-family;
		}
	}
}
/* Buttons */
.button {
	font-family: $header-font-family;
	text-transform: uppercase;
	&.success {
		color: #313131;
		&:hover {
			color: #313131;
		}
	}
}
/* Special */
.multi-select:after {
	content: ", ";
}
.multi-select:last-child:after {
	content: "";
}
/* Page */
.page-title {
	margin-bottom: $space-large;
	margin-top: $space-medium;
}

/* Sizes */
$medium-font-size-h1: map-deep-get($header-styles, medium, h1, font-size) * 1;
$medium-font-size-h2: map-deep-get($header-styles, medium, h2, font-size) * 1;
$medium-font-size-h3: map-deep-get($header-styles, medium, h3, font-size) * 1;
$medium-font-size-h4: map-deep-get($header-styles, medium, h4, font-size) * 1;
$medium-font-size-h5: map-deep-get($header-styles, medium, h5, font-size) * 1;
$medium-font-size-h6: map-deep-get($header-styles, medium, h6, font-size) * 1;

$small-font-size-h1: map-deep-get($header-styles, small, h1, font-size) * 1;
$small-font-size-h2: map-deep-get($header-styles, small, h2, font-size) * 1;
$small-font-size-h3: map-deep-get($header-styles, small, h3, font-size) * 1;
$small-font-size-h4: map-deep-get($header-styles, small, h4, font-size) * 1;
$small-font-size-h5: map-deep-get($header-styles, small, h5, font-size) * 1;
$small-font-size-h6: map-deep-get($header-styles, small, h6, font-size) * 1;

.font-size-h1 {
	font-size: $small-font-size-h1;
	@include breakpoint(medium) {
		font-size: $medium-font-size-h1;
	}
}
.font-size-h2 {
	font-size: $small-font-size-h2;
	@include breakpoint(medium) {
		font-size: $medium-font-size-h2;
	}
}
.font-size-h3 {
	font-size: $small-font-size-h3;
	@include breakpoint(medium) {
		font-size: $medium-font-size-h3;
	}
}
.font-size-h4 {
	font-size: $small-font-size-h4;
	@include breakpoint(medium) {
		font-size: $medium-font-size-h4;
	}
}
.font-size-h5 {
	font-size: $small-font-size-h5;
	@include breakpoint(medium) {
		font-size: $medium-font-size-h5;
	}
}
.font-size-h6 {
	font-size: $small-font-size-h6;
	@include breakpoint(medium) {
		font-size: $medium-font-size-h6;
	}
}


p.small,
.small {
	font-size: $small-font-size;
}

$mobile-lead-font-size: $global-font-size;
.lead,
.lead p {
	font-size: $mobile-lead-font-size;
	@include breakpoint(medium) {
		font-size: $lead-font-size;
	}
}

.small {
	font-size: $small-font-size;
	@include breakpoint(medium) {
		font-size: $small-font-size;
	}
}

/* Links */
a:active,
a:focus,
button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
select::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
	border: 0;
	outline: 0;
	outline: none;
}

@media (max-width: 1200px) {
	ol{
		margin-left: 1rem !important;
	}
}
