.gutenberg-layout-container > * {
  @include xy-grid-container;

  &.fluid {
    @include xy-grid-container(100%);
  }

  &.full {
    @include xy-grid-container(100%, 0);
  }
}
.gutenberg-layout-container {
  .wp-block-cover {
    @include xy-grid-container(100%);
    .wp-block-cover__inner-container {
        @include xy-grid-container;
    }
  }

  .wp-block-button {
    a.wp-block-button__link {
      @include button-style;
      @include button-base;
      text-transform: uppercase;
    }
  }
  /* F6 Overwrites */
  .radius {
    border-radius: $global-radius * 3;
  }
  /* Custom Blocks */
  .home-hero {
    color: $white;
    * {
      color: $white;
      .button.success {
        color: $black;
      }
    }
    font-weight: $header-font-weight;
    font-family: $header-font-family;

    input {
      color: $black;
    }
  }
}
