@import "custom-colors-variables";
@import 'custom-fonts';

.editorial-sidebar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 300;
  background: #f7f7f7;
  width: 300px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
  transition: 0.3s;

  .editorial-sidebar-close{
    position: absolute;
    top: 40px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: white;
    //background: $red;
    border-radius: 50%;
    cursor: pointer;
    z-index: 500;
    transition: 0.3s;
  }

  .editorial-sidebar-close:hover{
    transform: scale(1.1);
  }

  .editorial-user-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    padding-top: 3em;
    color: white;
    background: $wlo-red;

    .editorial-user-image{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-bottom: 0.5em;
    }

  }

  .editorial-sidebar-footer{
    width: 66%;
    align-self: center;
    position: absolute;
    bottom: 1em;
  }

  .editorial-menu{
    position: relative;
    z-index: 500;

    .menu{
      flex-direction: column;
      background: #f7f7f7;

      li{


        a{
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #333;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          font-family: 'Montserrat-Medium';
          padding: 1em 0 1em 2em;
          transition: 0.3s;

          ._mi{
            width: 24px;
            max-width: 24px;
            max-height: 24px;
          }
        }

        a:hover{
          color: #333;
          background: $wlo-editorial-light;
        }

        .toggle-button{
          cursor: pointer;
          //padding: 1em 0.8em;

          .toggle-arrow{
            width: 16px;
            min-width: 16px;
            margin-right: 1em;
            transform: rotate(-90deg);
            transition: 0.3s;
          }

          ._mi{
            width: 24px;
            max-width: 24px;
            max-height: 24px;
          }
        }
      }

      li:first-child{
        margin-top: 1em;
      }

      .current-menu-item{
        color: #333;
        background: $wlo-editorial-light;
      }

      .menu-back{
        display: flex;
        align-items: baseline;
        height: 60px;

        .menu-back-button{
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background: $wlo-primary;
          height: 100%;
          font-size: 16px;
          font-weight: 500;
          font-family: 'Montserrat-Medium';
          padding: 0.5em 1em;
          margin-left: 0;
          cursor: pointer;
          border-radius: 0;
          transition: 0.3s;

          img{
            width: 20px;
            transform: rotate(90deg);
          }
        }

        .menu-back-button:hover{
          color: white;
          background: $wlo-primary-dark;
        }

        h2{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 16px;
          font-weight: bold;
          color: $wlo-primary;
          margin-left: 1em;

          img{
            width: 18px;
            margin-right: 1em;
          }
        }
      }


      .sub-menu{
        display: none;
        position: absolute;
        top: 0px;
        left: 300px;
        width: 100%;
        margin: 0;
        list-style: none;
      }
    }

    .wlo-menu-separator{
      hr{
        width: 80%;
        margin: 0.5em auto;
        border-bottom: 1px solid #aaa;
      }
    }

  }
}

.hide-sidebar{
  left: -310px;
}

#editorial-sidebar-blur{
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0,0,0,.75);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.wlo-editorial-page{

  .wlo-editorial-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    min-height: auto;
    background: $wlo-editorial-dark;
    z-index: 5;

    .wlo-editorial-topbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 55px;

      .wlo-editorial-page-title{
        display: flex;
        align-items: center;
        color: white;
        width: 250px;
        height: 100%;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0.25em;
        padding-left: 1em;
        cursor: pointer;
        transition: 0.3s;

        img{
          transform: rotate(-90deg);
          width: 18px;
          padding-bottom: 3px;
          margin-left: 0.5em;
        }

        .editorial-menu-icon{
          width: 18px;
          margin-right: 0.25em;
          transform: rotate(0deg);
        }
      }

      .wlo-editorial-page-title:hover{
        background: $wlo-primary;
      }

      .wlo-editorial-user-wrapper{
        display: flex;
        align-items: center;
        padding-right: 1em;

        .editorial-user-settings{
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          align-items: baseline;
          margin-top: 1em;
          color: white;
          font-size: 14px;

          label{
            color: white;
            font-size: 14px;
            padding-right: 0.5em;
          }

          select{
            font-size: 14px;
            width: fit-content;
            height: 34px;
            min-width: 150px;
          }
        }
      }

      .wlo-editorial-user{
        display: flex;
        align-items: center;
        margin: 0 1em;

        .editorial-user-image{
          max-height: 24px;
          margin-right: 0.5em;
          border-radius: 50%;
        }

        .editorial-user-name{
          color: white;
          font-size: 16px;
          font-weight: 700;
        }
      }

    }

    .wlo-editorial-bottombar{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      height: 95px;

      background: url("../../../src/assets/img/wlo-editorial-header.svg");
      background-size: cover;
      background-position: 50% 50%;

      .wlo-new-content{
        margin: 0 1em;

        .wlo-new-content-button{
          color: $wlo-primary-dark;
          background: $wlo-neon;
          min-width: auto;
          cursor: pointer;
          transition: 0.3s;
        }

        .wlo-new-content-button:hover{
          background: $wlo-neon-dark;
        }

        .wlo-new-content-dropdown{
          left: 0;
          width: fit-content;
          padding-right: 0.5em;
          border-radius: 0 0 15px 15px;

          a{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #333;
            font-size: 16px;
            font-family: 'Montserrat-Medium';
            font-weight: 400;

            img{
              margin-right: 0.5em;
            }
          }

          a:hover{
            background: $wlo-editorial-light;
          }

          hr{
            width: 100% !important;
            margin: 0.5em auto;
          }
        }
      }

      form{
        display: none;
        width: 50%;
        max-width: 1020px;
        margin: 0;
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

    }

  }

  .wp-block-getwid-tabs{

    .wp-block-getwid-tabs__nav-links{
      width: 100vw;
      height: 38px;
      position: relative;
      left: calc(-50vw + 49.2%);
      top: -1px;
      justify-content: space-evenly;
      padding-bottom: 4px;
      background: $wlo-primary;
      transition: 0.3s;

      .wp-block-getwid-tabs__nav-link{
        flex: 1;
        text-align: center;
      }

      h2{
        margin-top: 0;
      }

      a{
        color: #e4e4e4;
        font-size: 15px;
        //text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        font-family: 'Montserrat-Medium';
      }

      .ui-state-hover{
        border: none;
        transition: 1s;

        a{
          color: white;
        }
      }

      .ui-tabs-active{
        background: $wlo-primary;
        border: none;
        border-bottom: 2px solid $wlo-neon;

        a{
          color: white;
        }
      }

    }

    .wp-block-getwid-tabs__tab-content{
      border: none;
      transition: 0.3s;
    }
  }

  .wlo-center{
    text-align: center;
  }

  .wlo-basic-tile-fullwidth{
    width: 95vw;
    position: relative;
    left: calc(-50vw + 55%);
  }
}
