@import 'custom-variables';
@import 'custom-fonts';
//@import 'settings';
@import "custom-colors-variables";

$fachportal_primary: $wlo-primary-dark;
$fachportal_bright: $wlo-primary;

.maintenance-popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  display: flex;
  align-items: center;

  padding: 1em;
  background: white;
  border: 4px solid $wlo-red;
  border-radius: 24px;
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  z-index: 50000;

  img{
    max-width: 25%;
  }

  .maintenance-text{
    margin-left: 1em;

    h2{
      color: $wlo-red;
    }

    p{
      margin: 0;
    }
  }

  .maintenance-popup-close{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: white;
    background: $wlo-primary-dark;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }

  .maintenance-popup-close:hover{
    background: $wlo-primary;
  }
}

.maintenance-tile{
  padding: 1em;
  text-align: center;
  background: white;
  border: 4px solid $wlo-red;
  border-radius: 24px;

  h2{
    color: $wlo-red;
  }
}


.portal .wp-block-columns{
  margin: 0 1em;
}

.wp-block-column:not(:first-child){
  margin-left: 0.5em;
}

.portal-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  background: #f4f4f4;
  padding-bottom: 0.5em;
  transition: 0.3s;

  .portal-wrapper-left{
    width: 1200px;
    background: #F4F4F4;
  }

  .portal-wrapper-right{
    display: none;
    position: sticky;
    top: 170px;
    bottom: 0;
    height: 100%;
    max-width: 1200px;
  }
}

.portal-wrapper-themenseite{
  display: flex;
  justify-content: center;
  max-width: initial;
  background: white;
}

.portal-wrapper-header{
  margin: 0 auto;
  background: #F4F4F4;
  max-width: 1200px;
}




.detail-view-popup{
  display: none;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: fit-content;
  margin: 48px 1.5em 1.5em;
  background: white;
  border-radius: 24px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  cursor: auto;

  img{
    width: 100%;
    height: 100%;
  }

  oeh-details-embedded{
    app-details{
      border-radius: 24px;
    }

    .mat-icon{
      box-sizing: content-box;
    }

    h4{
      color: unset;
    }
  }
}

.no-content-popup{
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 500px;
  height: fit-content;
  background: #f4f4f4;
  margin: 48px 1.5em 1.5em;
  padding: 0.5em;
  border-radius: 24px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  cursor: auto;

  .close-no-content-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1em;
    right: 0.5em;
    height: 25px;
    width: 25px;
    color: white;
    background: $wlo-primary-dark;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
  }

  .close-no-content-popup:hover{
    background: $wlo-primary;
  }

  h3{
    color: $wlo-red;
    font-size: 24px;
    align-self: flex-start;
  }

  img{
    width: 100%;
    height: 100%;
  }

  p{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 15px;
    padding: 1em;
    line-height: 1.5;
  }

  .content-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    width: 50%;
    background: #032850;
    color: white;
    font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    border-radius: 15px;
    transition: 0.3s;
  }

  .content-button:hover{
    background: $fachportal_bright;
  }

  .no-content-button{
    //background: $wlo-neon;
    //color: $wlo-primary-dark;

    img{
      margin-right: 0.5em;
    }
  }

  .no-content-button:hover{
    //background: $wlo-neon-dark;
  }
}





app-report-problem{
  textarea:focus {
    border: none;
  }
  input:focus-visible {
    outline: none;
  }
}

.fachportal-content-block, .wlo-page .fachportal-content-block{
  //margin: 16px;
  font-family: 'Source-Sans-Pro-Regular', sans-serif;

  .header{
    position: relative;
    text-align: center;
    margin-bottom: 16px;

    .header-icon{
      max-height: 60px;
    }

    h2, h3{
      color: #313131;
      font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
      font-size: 20px;
      padding-top: 16px;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p{
      max-width: 80%;
      margin: 0 auto;
    }

    a{
      position: absolute;
      right: 16px;
      top: 22px;
      font-weight: 600;
      font-size: 18px;
      font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
      text-decoration: underline;
    }

  }

}
.fachportal-content-block .content, .fachportal-new-content-inner .content, .wlo-page .content,
.portal .portal-wrapper-left{
  margin: 0.5em;

  .widget-content{
    position: relative;
    min-width: 245px;
    height: 425px;
    margin: 20px 12px;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;

    a{
      width: 100%;
      font-weight: 500;
      text-decoration: none;
      text-align: center;
    }

    .main-image{
      border-radius: 6px 6px 0 0;
      width: 100%;
      height: 175px;
      object-fit: cover;
    }

    .widget-badge{
      position: absolute;
      top: 6px;
      right: 6px;
      height: 22px;
      background: white;
      border-radius: 3px;
      padding: 2px 4px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    }

    .content-info{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 250px;
      padding: 16px;

      .content-header{
        display: flex;
        justify-content: flex-end;
        position: relative;

        .content-source{
          position: absolute;
          left: 0;
          top: 3px;
          font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
          font-size: 10px;
          color: #313131;
          overflow: hidden;
          height: 1.5em;
          width: 85%;
          margin: 0;
          z-index: 10;
        }

        .content-source::after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 30%;
          height: 1.2em;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }

        .badge{
          display: flex;
          align-items: center;
          z-index: 100;
          font-size: 10px;
          font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
          height: 25px;
          padding: 2px 4px;
          margin-left: 4px;
          color: #313131;
          background: #FFFFFF;
          box-sizing: border-box;
          border-radius: 3px;
          border: 1px solid #FFFFFF;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
        }
      }

      .content-title {
        font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 18px;
        color: #313131;
        position: relative;
        overflow: hidden;
        height: 2.6em;
        line-height: normal;
        margin-bottom: 4px;
      }

      .content-title::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }

      .content-title-bold{
        font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 20px;
      }


        .content-description{
          font-size: 15px;
          color: #333333;
          line-height: 150%;
          position: relative;
          overflow: hidden;
          height: 2.9em;
          margin: 0 0 4px;

          a{
            text-decoration: underline;
          }
        }

      .content-description::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }

      .content-meta{
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        height: 18px;

        p{
          font-size: 10px;
          color: #313131;
          padding: 0 4px;
          margin: 0;
          position: relative;
          overflow: hidden;
          height: 1.5em;
          width: 100%;
        }

        p::after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 30%;
          height: 1.2em;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }

      }

      .content-button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100%;
        background: #032850;
        color: white;
        font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 14px;
        border-radius: 15px;
        transition: 0.3s;
      }

      .content-button:hover{
        background: $fachportal_bright;
      }

      .no-content-button{
        background: $wlo-neon;
        color: $wlo-primary-dark;

        img{
          margin-right: 0.5em;
        }
      }

      .no-content-button:hover{
        background: $wlo-neon-dark;
      }

    }

    .no-content-info{
      height: 150px;
      text-align: left;

      .content-title{
        font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 20px;
        color: $wlo-red;
        height: 24px;
      }
    }



  }

  .widget-content:hover{
    transform: translate(0, -4px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  }

  .no-widget-content{
    height: auto;
    button{
      width: 100%;
    }
  }
}

.portal .portal-wrapper-left .widget-content .content-info{
  max-width: 275px;
}

.fachportal-header-bar{
  position: sticky;
  top: -10px;
  background: $fachportal_primary;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 49.6vw);
  border-top: 8px solid white;
  z-index: 55;

  .fachportal-header-bar-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 50px;
    margin: 0 auto;

    .fachportal-header-bar-tab{
      display: flex;
      align-items: center;
      height: 48px;
      width: fit-content;
      border-radius: 18px 18px 0 0;

      a{
        font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 16px;
        color: white;
        text-decoration: underline;
        padding: 8px 16px;
        transition: 0.3s;
      }

      a:hover{
        color: $fachportal_primary;
      }
    }

  }

  .portal-breadcrumbs{
    display: flex;
    align-items: center;
    margin-left: 1em;

    .portal-breadcrumbs-list{
      .portal-breadcrumbs-list-item{
        color: white;
        font-size: 14px;
        a{
          color: white;
          font-weight: normal;
        }
        .material-icons {
          font-size: 20px;
          padding: 0 2px;
          position: relative;
          top: 4px;
        }
      }
      .portal-breadcrumbs-list-item:last-child{
        a{
          font-weight: bold;
        }
      }
    }
  }

  .wlo-tile-team{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 50px;

    p{
      color: white;
      margin: 0;
      margin-right: 0.5em;
    }

    img{
      height: 48px;
      width: 48px;
      object-fit: cover;
      margin: 0.5em;
      border-radius: 50%;
    }

    .wlo-team-bookmark{
      border-radius: 0;
      height: 60px;
      width: auto;
      position: absolute;
      top: -13px;
      right: 0;
      z-index: 5000;
    }
  }

}

.fachportal-header-block{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 49.56vw);



  .fachportal-header-wrapper{
    display: flex;
    justify-content: space-around;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 36px;
    padding-bottom: 0;
    transition: 0.3s;
  }

  .themenseite-header-wrapper{
    padding: 24px 0;
    padding-bottom: 0;
  }

  h3{
    font-size: 24px;
  }

  .description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    background: #ffffff;
    border-radius: 24px 24px 0px 0px;

    .description-content{
      display: flex;
      flex-direction: column;
      margin: 32px 0;
      padding: 0 64px;

      .portal-page{
        font-size: 15px;
        text-decoration: none;
      }

      .title{
        font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 40px;
        font-weight: normal;
        line-height: 1.3;
        color: #313131;
        margin-bottom: 0.5em;
      }

      .title::first-letter{
        text-transform: capitalize;
      }

      .header-description{
        font-size: 16px;
        transition: 0.5s;

        a{
          text-decoration: underline;
          font-weight: 700;
        }
      }

      .header-description-button{
        display: none;
        width: fit-content;
        align-self: flex-end;
        margin-top: 0.5em;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
          font-size: 14px;
          height: 30px;
          width: fit-content;
          margin: 0;
          padding: 8px 1em;
          background: $wlo-primary-dark;
          cursor: pointer;
          border: 2px solid $wlo-primary-dark;
          border-radius: 50px;
          transition: 0.3s;

          img {
            margin-left: 4px;
            max-width: 15px;
            transition: 0.3s;
          }
        }

        div:hover{
          color: white;
          background: $wlo-primary;
        }
      }
    }

  }

  .collections{
    padding: 0 0.5em;
    padding-left: 64px;
    padding-bottom: 1em;
    margin-bottom: 0.5em;

    .sub-subjects-header{
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 16px;

      h2{
        font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.3;
        color: #313131;
        margin: 0 0 0 8px;
      }

      #sub-subjects-button{
        justify-self: end;
        cursor: pointer;
        margin-left: 0.5em;
        transition: 0.3s;
      }

      .sub-subjects-button-active{
        transform: rotate(180deg);
      }
    }

    .sub-subjects-container{
      display: flex;
      flex-wrap: wrap;
      transition: 0.3s;

      .sub-subject{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30px;
        width: fit-content;
        margin: 0.5em;
        background: $fachportal_primary;
        border-radius: 50px;
        transition: 0.3s;

        a{
          display: flex;
          align-items: center;
          color: #ffffff;
          font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          p{
            color: white;
            font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
            font-size: 14px;
            margin: 0 8px 0 16px;
            max-width: 75vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          p::first-letter{
            text-transform: capitalize;
          }

          img{
            margin-right: 8px;
          }
        }
      }

      .sub-subject:hover{
        background: $fachportal_bright;
      }

    }

    #hidden-sub-subjects-container{
      display: none;
    }

  }

  .content-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;

    .header{
      text-align: left;
      width: 100%;
      font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-style: normal;
      font-size: 18px;
      font-weight: 700;
      color: white;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 8px;
      margin: 0;
      margin-left: 1.5em;
    }

    .diagram{
      position: relative;
      width: 100%;
      margin-left: 1.5em;

      .diagram-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      #contentChart{
      }
    }

    .diagram:after{
      content: "";
      display: block;
      padding-bottom: 100%
    }

    .diagram-legend{
      display: flex;
      flex-direction: column;
      margin: 24px 0;
      margin-left: 1em;

      .diagram-legend-entry{
        display: flex;
        align-items: center;
        color: #ffffff;
        font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.2;
        padding: 4px;
      }

      .diagram-legend-color{
        width: 19px;
        height: 19px;
        margin: 0 4px;
      }

      .search-link{
        display: flex;
        background: none;
        border-radius: 3px;
        transition: 0.3s;

        a:hover{
          color: $wlo-primary;
        }
      }

      .Redaktionell{
        .diagram-legend-color{
          background: rgba(255, 255, 255, 0.75);
        }
      }

      .Maschinell{
        .diagram-legend-color{
          background: rgba(255, 255, 255, 0.4);
        }
      }

    }
  }

  .header-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 24px 24px 0px 0px;
  }


}

.fachportal-filterbar{
  position: sticky;
  top: 48px;
  background: white;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 49.6vw);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  z-index: 50;

  .fachportal-filterbar-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 1200px;
    padding: 1em;
    margin: 0 auto;

    .fachportal-filterbar-dropdowns{
      display: flex;
      justify-content: flex-start;

      select{
        width: fit-content;
        margin: 0.5em;
      }
    }

    button{
      background: none;
      border: none;
      margin: 0;
      padding: 0;
    }

    .fachportal-filterbar-tag{
      display: none;
      align-items: center;
      justify-content: center;
      color: $wlo-primary-dark;
      font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
      font-size: 14px;
      height: 30px;
      width: fit-content;
      margin: 0.5em 1em 0.5em 0;
      padding: 8px;
      background: #F4F4F4;
      cursor: pointer;
      border: 2px solid $wlo-primary-dark;
      border-radius: 50px;
      transition: 0.3s;

      img{
        display: none;
        margin-left: 6px;
        max-width: 10px;
      }
    }

    .fachportal-filterbar-tag:hover{
      color: white;
      background: #003B7C;
    }

    .active-btn{
      display: flex;
      color: white;
      background: $wlo-primary-dark;

      img{
        display: block;
      }
    }
  }
}

.fachportal-header-accordion{
  background: white;
  width: 100%;
  padding-top: 48px;
}

.fachportal-new-content{

  .fachportal-accordion{
    position: relative;
    width: 100%;
    padding: 0.5em;
    background: none;
    border: none;
    cursor: pointer;

    h2{
      color: #313131;
      font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
      font-size: 20px;
      text-align: center;
      max-width: 85%;
      margin: 0 auto;
    }

    .fachportal-accordion-icon{
      position: absolute;
      top: 0.9em;
      right: 1em;
      transform: rotate(180deg);
      transition: 0.3s;
    }

    .fachportal-accordion-icon-active{
      transform: rotate(0deg);
    }
  }

  .fachportal-accordion-content{
    max-height: 500px;
    padding: 0.5em;
    font-family: 'Source-Sans-Pro-Regular', sans-serif;
  }

  .fachportal-header-wrapper{
    background: white;
    padding: 0;

    .fachportal-new-content-inner{
      width: 100%;
      height: 100%;
      padding: 0 0.5em 24px;

      h2{
        color: #313131;
        font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
        font-size: 20px;
        text-align: center;
      }
    }

    .header-bottom{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 24px;
      background: #F4F4F4;
      border-radius: 24px 24px 0px 0px;
    }

  }
}

.fachportal-spacer{
  border-top: 3px solid #E0E0E0;
  margin: 3em auto;
}

.wlo-spacer{
  border-top: 3px solid #E0E0E0;
}

.fachportal-footer{
  max-width: 800px;
  margin: 4em auto 0;
  padding: 2em;
  padding-bottom: 4em;

  .fachportal-footer-search{
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat-Bold", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;

    p{
      display: flex;
      align-items: center;

      img{
        margin-right: 1em;
        padding-bottom: 4px;
      }
    }

    .fachportal-footer-searchbutton{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: auto;
      padding: 0 1em;
      background: $wlo-primary-dark;
      color: white;
      font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 14px;
      border-radius: 15px;
      transition: 0.3s;

      img{
        margin-right: 4px;
      }
    }

    .fachportal-footer-searchbutton:hover{
      background: $fachportal_bright;
    }
  }

  .fachportal-footer-team{
    margin: 1em 0;
    margin-top: 3em;
    padding-top: 2em;
    display: flex;
    justify-content: center;
    border-top: 3px solid #E0E0E0;;

    img{
      height: 48px;
      width: 48px;
      margin: 0 4px;
      border-radius: 50%;
    }

  }

  .fachportal-footer-text{
    text-align: center;
    margin-bottom: 2em;

    h3{
      font-size: 22px;
      margin: 2em 0;
    }
  }

  .fachportal-add-content-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 190px;
    margin: 1em auto;
    background: $wlo-neon;
    color: $wlo-primary-dark;
    font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    border-radius: 15px;
    transition: 0.3s;

    img{
      margin-right: 4px;
    }
  }

  .fachportal-add-content-button:hover{
    background: $wlo-neon-dark;
  }
}

.wlo-feature-wrapper{
  display: flex;
  margin: 0 1em 2em;
  background: white;
  border: 1px solid #E0E0E0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;

  .wlo-feature-img{
    width: 50%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .wlo-feature-text{
    width: 50%;
    padding: 0.5em;

    .content-header {
      display: flex;
      justify-content: flex-end;
      position: relative;
      margin-bottom: 1em;

      .content-source {
        position: absolute;
        left: 0;
        top: 3px;
        font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 10px;
        color: #313131;
        overflow: hidden;
        height: 1.5em;
        width: 85%;
        z-index: 10;
      }

      .content-source::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }

      .badge {
        display: flex;
        align-items: center;
        z-index: 100;
        font-size: 10px;
        font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        height: 25px;
        padding: 2px 4px;
        margin-left: 4px;
        color: #313131;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #FFFFFF;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
      }
    }

    .content-title {
      font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 20px;
      color: #313131;
      position: relative;
      overflow: hidden;
      height: 2.6em;
      margin: 1em 0;
    }

    .content-title::after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }


    .content-description{
      font-family: 'Source-Sans-Pro-Regular', sans-serif;
      font-size: 14px;
      color: #313131;
      line-height: 150%;
      position: relative;
      overflow: hidden;
      height: 9em;
      margin-bottom: 1em;
    }

    .content-description::after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }

    .content-meta{
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      height: 18px;

      p{
        font-size: 10px;
        color: #313131;
        padding: 0 4px;
        margin: 0;
        position: relative;
        overflow: hidden;
        height: 1.5em;
        width: 100%;
      }

      p::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }
    }
  }
}

.wlo-feature-link:hover .wlo-feature-wrapper{
  transform: translate(0, -4px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.wlo-feature-error{
  text-align: center;
  background: $wlo-neon;
  padding: 0.5em;
  border-radius: 4px;
}

.main-content .wlo-tile, .block-editor .wlo-tile, .wlo-editorial-page .wlo-tile, .wlo-embed .wlo-tile{

  .widget-content{
    height: auto;
    min-height: 325px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wlo-tile-link{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .wlo-tile-icon{
      width: auto;
      height: 80px;
      margin: 2em 1em 1em;
    }

    .content-info{
      position: relative;
      height: auto;
      justify-content: flex-start;
      align-items: center;

      .content-title{
        height: auto;
      }

      .content-title::after {
        content: "";
        width: auto;
        height: auto;
        background: none;
      }

      .content-description{
        height: auto;
        margin: 0 0 45px;
      }

      .content-description::after {
        content: "";
        width: auto;
        height: auto;
        background: none;
      }
    }

    .wlo-tile-team{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 175px;

      img{
        height: 80px;
        width: 80px;
        object-fit: cover;
        margin: 0.5em;
        border-radius: 50%;
      }


    }

    .wlo-tile-button{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      //right: 1em;
      height: 30px;
      width: fit-content;
      white-space: nowrap;
      cursor: pointer;
      padding: 0 1.5em;
      margin: 1em auto;
      background: $wlo-primary-dark;
      color: white;
      font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 14px;
      border-radius: 15px;
      transition: 0.3s;

      img{
        margin: 0 0.5em;
      }

      span{
        margin: 0;
      }
    }

    .wlo-tile-button:hover{
      background: $wlo-primary;
    }

    .wlo-tile-button-yellow{
      background: $wlo-neon;
      color: $wlo-primary-dark;
    }

    .wlo-tile-button-yellow:hover{
      background: $wlo-neon-dark;
    }
  }

}


.educational-context-filter, .wlo-portals-filter .wlo-portals-filter-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;

  button{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  .wlo-portals-filter-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $wlo-primary-dark;
    font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    height: 30px;
    width: fit-content;
    margin: 0.5em 1em 0.5em 0;
    padding: 8px;
    background: #F4F4F4;
    cursor: pointer;
    border: 2px solid $wlo-primary-dark;
    border-radius: 50px;
    transition: 0.3s;

    img{
      display: none;
      margin-right: 4px;
      max-width: 15px;
    }
  }

  .wlo-portals-filter-tag:hover{
    color: white;
    background: #003B7C;
  }

  .active-btn{
    color: white;
    background: $wlo-primary-dark;

    img{
      display: block;
    }
  }
}


.wlo-portals-header-bottom{
  position: relative;
  top: -2em;
  max-width: 1200px;
  margin: 0 auto -2em;
}

.wlo-portals-title{
  font-family: "Montserrat-Bold", Helvetica, Roboto, Arial, sans-serif;
  font-size: 22px;
  text-align: center;
}

.wlo-portals-filter{

  p{
    text-align: center;
  }

  .wlo-portals-filter-tags{
    padding: 0 1em;
  }
}

.wlo-portals-tiles{
  display: grid;
  grid-template-columns: repeat(auto-fill, 155px);
  grid-gap: 1.5em;
  justify-content: center;
  margin-top: 2em;

  a{
    text-decoration: none !important;
  }
}

.wlo-portals-tile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 155px;
  background: white;
  padding: 0 0.5em;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;

  a{
    text-decoration: none;
  }

  img{
    max-width: 64px;
  }

  .wlo-portals-tile-type{
    font-family: 'Source-Sans-Pro-Regular', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #333333;
    margin: 0.5em auto 0.25em;
  }

  .wlo-portals-tile-title{
    font-family: "Montserrat-Bold", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #333333;
    margin: 0.5em auto 0.25em;
  }
}

.wlo-portals-tile:hover{
  transform: translate(0, -4px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.wlo-portals-accordion-slider{
  padding: 0 1.5em;
  transition: 0.3s;

}

.wlo-portals-slider-tile{
  display: flex !important;
  justify-content: center;
  margin: 4px 0.5em 1em;

  a{
    text-decoration: none !important;
  }
}

.wlo-portals-subjects{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2em;

  .wlo-portals-tile{
    background: #D9E2EB;
  }
}

@media (max-width: 1850px) {
  .fachportal-header-block{
    margin-right: calc(50% - 49vw);
  }
}
@media (max-width: 1200px) {
  .portal-wrapper{
    .portal-wrapper-right{
      position: fixed;
      top: 25px;
      z-index: 5000;
    }

    .portal-wrapper-right:before{
      content: "";
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,.75);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }

  .detail-view-popup{
    width: auto;

    .app-preview-panel-content-wrapper{
      max-height: 90vH;
    }
  }


  .fachportal-header-block{
    margin: 0;
  }
  .no-widget-content{

  }
}

@media (max-width: 900px) {
  .fachportal-header-bar{
    top: 0px !important;
    padding-top: 21px;

    .fachportal-header-bar-wrapper{
      justify-content: space-evenly;
      padding: 16px 0;

      .wlo-tile-team{
        display: none;
      }
    }
  }

  .fachportal-filterbar{
    top: 100px !important;
  }

  .fachportal-filterbar-dropdowns{
    flex-direction: column;
    padding-top: 20px;

    select{
      width: 95% !important;
    }
  }



  .portal-wrapper-left{
    max-width: 100%;
  }

  .fachportal-content-block{
    margin-top: 1.5em;
  }

  .wp-block-column:not(:first-child){
    margin-left: 0;
  }

  .fachportal-header-block{

    .fachportal-header-wrapper{
      flex-direction: column-reverse;
      align-items: center;
    }

    .description{
      width: 90%;

      .description-content{
        padding: 0 1em;

        .title{
          font-size: 28px;
        }

        .header-description-mobile{
          position: relative;
          overflow: hidden;
          max-height: 9em;
        }

        .header-description-mobile::after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 30%;
          height: 1.2em;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }

        .header-description-button{
          display: flex;
        }
      }

      .collections {
        padding-left: 0.5em;

        .sub-subjects-container .sub-subject{
          height: auto;
        }
      }
    }

    .content-stats{
      display: none;
      width: 50%;
    }


  }

  .fachportal-new-content{

    .fachportal-accordion-content{
      max-height: fit-content;

      .collections{
        padding-left: 0.5em;
        margin-bottom: 0;
      }
    }
  }

  .fachportal-footer{
    .fachportal-footer-search .fachportal-footer-searchbutton{
      height: 45px;
    }

  }
}
