.portal-template-template_adaptive_themenseite {
  .variable-select-bar {
    .select-container {
      display: flex;
      flex-direction: column;
      min-width: 250px;
    }
  }

  .portal-wrapper {
    margin-top: 2em;
    .portal-wrapper-left {
      padding-top: 1em;
    }
  }
}
