@import 'custom-fonts';
@import "custom-colors-variables";
@import 'custom-variables';


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}



/* Layout */
.main-content {
  margin-top: 63px;
  min-height: calc(100vh - 223px);
}

@media print, screen and (min-width: 40em) {
  .main-content {
    margin-top: 100px;
  }
}

@media screen and (min-width: 40em) {
  .main-content {
    min-height: calc(100vh - 200px);
  }
}

html {
  scroll-behavior: smooth;
}

/* Header */
.site-header {
  z-index: 999;
  min-height: 63px;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.8s ease;
}

.site-header.hidden {
  transform: translateY(-110%);
  transition: all 0.8s ease;
}

@media print, screen and (max-width: 39.99875em) {
  .site-header .top-bar {
    background-color: #ECECEC;
    padding-bottom: calc(2 * 15px);
  }
  .site-header .top-bar .menu {
    margin-bottom: calc(2 * 15px);
  }
}

@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .site-header .top-bar {
    background-color: #ECECEC;
    padding-bottom: calc(2 * 15px);
  }
  .site-header .top-bar .menu {
    margin-bottom: calc(2 * 15px);
  }
}

.site-header.hidden {
  transform: translateY(-110%);
  transition: all 0.8s ease;
}

@media screen and (min-width: 40em) {
  .site-header {
    min-height: 100px;
  }
  .site-header .grid-x {
    min-height: 100px;
  }
}

.site-header a.mobile-logo-container {
  margin: 0.5em 0 0 auto;
  max-width: 250px;
}

.title-bar {
  padding: 1rem;
  background: $white;
  color: $wlo-primary;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .menu-icon {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

/* Navigation */
.top-call-to-action-menu li a {
  display: flex;
  align-items: center;
  background-color: $wlo-neon;
  color: $wlo-primary-dark;
  height: 30px;
  font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px !important;
  border-radius: 60px;
  transition: 0.3s;
}

.top-call-to-action-menu li a:hover {
  color: $wlo-primary;
  background: $wlo-neon-dark;
}

.menu li a {
  font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 20px;
}

.is-dropdown-submenu {
  background-color: $white !important;
  border-radius: 24px;
  border: none;
  text-align: left;
  right: 0 !important;
  left: 0 !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.is-dropdown-submenu li a {
  font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 20px;
}

.is-dropdown-submenu-item {
  transition: 0.2s;
}

.is-dropdown-submenu-item:last-child {
  border-radius: 0 0 24px 24px;
}

.is-dropdown-submenu-item:hover {
  background-color: #D9E2EB;
  cursor: pointer;
}

.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.menu-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #003E82;
  box-shadow: 0 7px 0 #003e82, 0 14px 0 #003e82;
  content: '';
}

.top-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .top-bar-left, .top-bar-right{
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media print, screen and (min-width: 40em){
  .top-bar .top-bar-left {
    flex: 1 1 auto;
    margin-right: auto;
  }
}

.grid-container {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.position-relative {
  position: relative !important;
}

/* Footer */
.site-footer {
  overflow: hidden;
  color: $white;
  background-color: $wlo-primary-dark;
  font-family: 'Source-Sans-Pro-Regular', sans-serif;

  .footer-wrapper{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2em;

    .footer-main{
      width: 70%;
      margin-top: 3em;

      .footer-buttons{
        display: flex;
        align-self: center;

        a{
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img{
          margin: 0 0.25em;
          transition: 0.3s;
        }

        img:hover{
          transform: translate(0, -4px);
        }
      }

      .footer-menu{
        display: flex;
        margin-top: 0.5em;

        a{
          color: $white;
          font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
          font-size: 16px;
          padding-left: 0;
          padding-right: 1.15em;
          transition: 0.3s;
        }

        a:hover{
          color: $wlo-neon;
        }
      }
    }

    .footer-right{
      display: flex;
      justify-content: flex-end;
      width: 30%;

      .footer-bmbf{
        display: flex;
        align-items: center;
        width: 40%;
        background: $white;
      }

      .footer-license{
        display: flex;
        align-items: center;
        width: 52%;
        padding: 1em;
        font-size: 14px;

        p{
          margin: 0;
        }

        a{
          color: $white;
          font-family: 'Source-Sans-Pro-Bold', sans-serif;
          transition: 0.3s;
          text-decoration: underline;
        }

        a:hover{
          color: $wlo-neon;
        }
      }
    }

    .footer-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      color: $wlo-primary-dark;
      font-family: "Montserrat-Bold", Helvetica, Roboto, Arial, sans-serif;
      font-size: 14px;
      height: 30px;
      width: fit-content;
      margin: 0.5em 1em 0.5em 0;
      padding: 8px 16px;
      background: $wlo-neon;
      cursor: pointer;
      border-radius: 50px;
      transition: 0.3s;
    }

    .footer-btn:hover{
      background: $wlo-neon-dark;
    }
  }

}

@media (max-width: 900px) {
  .site-footer .footer-wrapper{
    flex-direction: column;
    align-items: center;

    .footer-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;

      .footer-menu{
        justify-content: center;
      }
    }

    .footer-right{
      width: 100%;
      justify-content: space-between;
      margin-top: 2em;
    }
  }
}

.hidden_context {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
