@charset 'utf-8';
@import 'custom-variables';
@import 'custom-fonts';
@import 'settings';

@import 'foundation';

@include foundation-typography;

.block-editor-writing-flow {
    font-family: $body-font-family;
    .editor-post-title__block {
      .editor-post-title__input {
        font-family: $header-font-family;
        font-weight: $header-font-weight;
      }
    }
    .slick-slider {
      max-height: none;
      height: auto;
    }
    .portal_block_slider_content {
      display: block;
      padding: 0;

      p{
        max-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  .cell.medium-4 {
    display: inline-block;
  }
  .portal_block {
    margin: 0px;
    padding: 10px
  }
  .backend_hint{
    font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.6em;
    color: gray(90);
    background: lightgrey;
    margin-bottom: 0.2rem;
    padding: 10px
  }
  .backend_border{
    border: 1px solid lightblue;
  }
}

.edit-post-sidebar ul {
  list-style-type: none;
}

.acf-preset{
  .acf-preset-desc{
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
  }
  .acf-preset-field{
    display: inline-block;
    padding: 3px;
    background-color: grey;
    color: white;
    font-size: 0.8em;
    margin: 0px 2px;
  }
}

#adminmenumain ul{
  margin-left: 0px;
}
