@charset 'utf-8';
@import 'custom-variables';
@import 'custom-fonts';
@import 'settings';


.block-editor-writing-flow {
    font-family: $body-font-family;
    .editor-post-title__block {
      .editor-post-title__input {
        font-family: $header-font-family;
        font-weight: $header-font-weight;
      }
    }
    .slick-slider {
      max-height: none;
      height: auto;
    }
    .portal_block_slider_content {
      display: block;
      padding: 0;

      p{
        max-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
}
