@import 'custom-variables';
@import 'custom-fonts';
@import 'settings';
@import "custom-colors-variables";

.lds-ring {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0.5em auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid $wlo-neon;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $wlo-neon transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.portal {
  background: white;

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
    font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 1.0rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  h3, h4, h5, h6 {
    color: $black;
  }

  p, ul{
    font-family: 'Source-Sans-Pro-Regular', sans-serif;
    font-size: 15px;
    color: #313131;
  }

  .portal-wrapper{
    margin: 0 auto;
    max-width: 1200px;
    background: #F4F4F4;
    padding-bottom: 0.5em;
  }
}

.portal_block {
  margin: 40px 0px;

  .portal_block_headline{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a{
      font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      text-decoration-line: underline;
      transition: 0.3s;
    }

    a:hover{
      color: #313131;
    }

  }
}


.big_hr{
  border-bottom: 3px solid $black;
  margin-top: 0;
}

.no-margin{
  margin: 0;
}

.portal-full-width {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  width: auto;
}

.portal-sidemenu{
  position: fixed;
  top: 220px;
  max-width: 300px;
  font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $black;
  list-style: none;


  li{
    margin-bottom: 16px;
    a{
      color: #313131;
      transition: 0.3s;
    }
    a:hover{
      color: $wlo-blue;
    }
  }

}

@media (max-width: 2200px) {
  .portal-sidemenu{
    max-width: 180px;
  }
}
@media (max-width: 1550px) {
  .portal-sidemenu{
    display: none;
  }
}

.portal-full-width .wp-block-cover{
 padding-bottom: 0;
}

.portal-full-width .wp-block-cover__inner-container {
  max-width: 800px;
}

.portal_block .portal-breadcrumbs {
  margin-top: 40px;
}

.portal-breadcrumbs .portal-breadcrumbs-list {
  list-style-type: none;
  margin: 0;
}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item {
  list-style-type: none;
  display: inline-block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;

}
.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item a {
  color: $black;
}
.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item:last-child a {

}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item:last-child {
  font-weight: 700;
}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item:last-child .material-icons {
  display: none;
}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item .material-icons {
  font-size: 20px;
  padding: 0 4px;
  position: relative;
  top: 4px;
}

.portal_select {
  font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.portal_banner_slider {
  width: 100%;
  margin: 0 auto;
  height: 250px;

  h3, p, a {
    color: white;
  }
}

.portal_banner_slider_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background: $wlo-blue;
  color: #ffffff;
  padding: 1rem 2rem;
}

.portal_banner_slider_content img {
  //width: 240px;
  max-width: 240px;
  height: 180px;
  object-fit: cover;
  margin-right: 40px;
}

@media (max-width: 700px) {
  .portal_banner_slider_content img {
    display: none;
  }
}

.portal_latest_posts_slider_content, .portal_latest_search_results_slider_content {
  height: 450px;

  .portal_latest_search_results_slider_content_bottom, .portal_latest_posts_slider_content_bottom{
    .button{
      width: 100%;
    }

    a{
      margin: 0;
      text-transform: none;
    }

    p {
      font-size: 0.7em;
      text-align: right;
      margin: 0;
    }
  }
}

.portal_latest_posts_slider_content img, .portal_latest_search_results_slider_content img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.portal_banner_slider .portal_banner_slider_content .portal_banner_slider_content_text {
  width: 100%;
}

.portal_banner_slider .portal_banner_slider_content .portal_banner_slider_content_text p {
  max-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
}

.portal_banner_slider .portal_banner_slider_content .portal_banner_slider_content_text h3 {
  color: white;
}

.portal_banner_slider .portal_banner_slider_content .portal_banner_slider_content_text .button {
  background-color: #ffffff;
  color: $wlo-blue;
  margin-top: 20px;
  text-transform: none;
}

.portal_banner_slider .slick-slide {
  height: 250px;
}

.portal_banner_slider .slick-dots {
  bottom: -25px;
}

.portal_banner_slider .slick-dots li button:before {
  font-size: 10px;
  color: #313131;
}

.portal_widget_grid {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.portal_grid_content, .portal_latest_posts_block, .portal_latest_search_results_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.portal_latest_posts_slider, .portal_latest_search_results_slider {
  max-width: 100%;
  max-height: 475px;
  align-self: center;
  color: #313131;
}

.portal_latest_posts_slider_content, .portal_latest_search_results_slider_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #ECECEC;
  padding: 30px 20px 16px;
  margin-bottom: 4px;
  border-radius: 8px;
  position: relative;
  left: 3px;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.25);
}

.portal_latest_posts_slider .slick-list, .portal_latest_search_results_slider .slick-list {
  margin-right: -18px;
}

.portal_latest_posts_slider .slick-slide, .portal_latest_search_results_slider .slick-slide {
  margin-right: 22px;
}

.portal_latest_posts_slider .slick-arrow, .portal_latest_search_results_slider .slick-arrow {
  z-index: 1;
}


.portal_latest_posts_slider .slick-arrow:before, .portal_latest_search_results_slider .slick-arrow:before {

}

.portal_latest_posts_slider_content_text, .portal_latest_search_results_slider_content_text {
  width: 100%;
}

.portal_latest_posts_slider_content a, .portal_latest_search_results_slider_content a {
  color: #22427C;
}

.portal_latest_posts_slider_content h6, .portal_latest_search_results_slider_content h6 {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 1.2em;
  white-space: nowrap;
  margin: 16px 0px 8px;
}

.portal_latest_posts_slider_content p, .portal_latest_search_results_slider_content p {
  font-size: 0.8em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;
}
.portal_latest_search_results_slider_content p {
  -webkit-line-clamp: 4;
}
.portal_latest_posts_slider_content p {
  -webkit-line-clamp: 4;
}


.portal_latest_posts_list, .portal_latest_search_results_list {
  max-height: 500px;
  overflow-y: scroll;

  .portal_latest_posts_list_content, .portal_latest_search_results_list_content {
    background-color: white;
    border: 1px solid #ECECEC;
    display: flex;
    margin: 5px 0px;

    & > a {
      display: block;
      width: 160px;
      flex: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .portal_latest_posts_list_content_text, .portal_latest_search_results_list_content_text {
      margin: 30px 20px;
      display: block;
      flex: 4;

      a {
        margin: 0;
      }

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 50px;
        margin-bottom: 0;
      }
    }
  }
}

.portal_latest_search_results_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 1rem;

  .portal_content_branch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #ECECEC;
    padding: 30px 20px;
    padding-bottom: 0.5rem;
    height: 475px;
    margin-bottom: 4px;
    border-radius: 8px;
    position: relative;
    left: 3px;
    box-shadow: none;


    .portal_search_button{
      a {
        width: 100%;
        margin: 10px 0px;
      }
      .portal_search_source {
        font-size: 0.7em;
        text-align: right;
        margin: 0;
        color: gray;
      }
    }

    .media-type {
      color: white;
      background-color: darkgray;
      padding: 2px 5px;
      border-radius: 2px;
      font-size: 0.6em;
      position: absolute;
      margin: 5px;
    }

    img {
      margin: 0 auto;
      display: block;
      object-fit: cover;
      height: 200px;
      //border: 1px solid #ECECEC;
    }

    .portal_search_text {
      h6 {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 4em;
        max-width: 300px;
        //height: 1.2em;
        //white-space: nowrap;
        margin: 10px 0px;
      }

      p{
        font-size: 0.8em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 40px;
      }

      .media-type {
        display: none;
      }
    }
  }

  .portal_latest_search_results_grid_container {

    .portal_latest_search_results_grid_content {
      background-color: white;
      border: 1px solid #ECECEC;
      padding: 30px 20px;

      div {
        margin: 20px 0;
      }

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }

      .portal_latest_search_results_grid_content_text {
        h5 {
          max-height: 100px;
          height: 55px;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 300px;
        }

        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-bottom: 0;
          max-width: 300px;
          height: 25px;
        }

        margin-bottom: 0;
      }
    }
  }
}


.portal-search-group {
  display: flex;
  width: 100%;
  margin-bottom: 0.8rem;
  align-items: stretch;
  font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.portal-search-group input[type='search'] {
  border-radius: 5px 0px 0px 5px;
}

.portal-search-group input[type='submit'] {
  border-radius: 0px 5px 5px 0px;
}

.portal-search-group input::placeholder {
  color: #d8d8d8;
}

.button.success {
  color: #313131;
  background-color: #E3F702;
}

.portal_search {
}

.portal_search_sources {
}

.portal_search_sources p {
  color: lightgrey;
  background: #0A246A;
  margin-right: 0.5rem;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
}


.portal-subject-tree {
  .portal_subject_list {
    & > ul {
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;
      background-color: #efefef;
      border: 4px;
      padding: 5px 10px;

      li {

        h4{
          color: $wlo-blue;
          transition: 0.3s;
        }

        h4:hover{
          color: #313131;
        }

        & > ul {
          list-style-type: none;

          li {
            h6 {
              color: $wlo-blue;
              transition: 0.3s;
            }

            h6:hover{
              color: $black;
            }
          }
        }

        h5 {
          font-size: 1em;
        }
      }

    }
  }

  .portal_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 52px;
    border-radius: 4px;

    a{
      margin-left: 16px;

      h5{
        line-height: 1;
        margin: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .portal_menu_dropdown_button{
      position: relative;
      height: 100%;

    }

    .portal_menu_dropdown{
      display: none;
      position: absolute;
      right: 0;
      top: 47px;
      z-index: 500;
      min-width: 345px;
      background: $wlo-blue;
      color: white;
      padding: 16px;
      border-radius: 4px;
      //box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);

      h6{
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        transition: 0.3s;
      }

      h6:hover{
        color: $wlo-lightgreen;
      }
    }

    .portal_menu_dropdown_button:hover .portal_menu_dropdown{
      display: block;
    }

    .portal_menu_icon{
      padding: 8px 16px 8px 16px;
      //background: #001f41;
      height: 100%;
      line-height: 1.8;
      cursor: pointer;
      transition: 0.5s;
    }

    .portal_menu_icon:hover{
      transform: rotate(180deg);
    }

    .portal_menu_dropdown:hover .portal_menu_icon{
      color: blueviolet !important;
      background: blueviolet !important;
    }

    .portal_menu_icon:hover .portal_menu_dropdown{
      color: red !important;
      background: red !important;
    }

    .portal_menu_icon .portal_menu_dropdown:hover{
      color: blue !important;
      background: blue !important;
    }

  }

  .portal_subject_grid {
    h5 {
      color: white;
    }
  }

  .portal_subject_grid, .portal_subject_list {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));;
    grid-gap: 1rem;
    padding: 20px;
    background-color: white;
    border: 1px solid #ECECEC;
  }
}

.portal-subject-tree .portal_tree_branch {
  display: flex;
  padding: 16px;
  border-radius: 4px;
  height: 64px;
}

.portal-subject-tree .portal_tree_branch .portal_search_text {
  display: flex;
  align-items: center;
}

.portal-subject-tree .portal_tree_branch .portal_search_text h5 {
  font-size: 0.8em;
  text-overflow: ellipsis;
  margin: 0;
}

.portal-subject-tree .portal_tree_branch .portal_search_text h5::first-letter{
  text-transform: capitalize;
}

.portal-subject-tree .portal_tree_branch img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

@media (max-width: 400px) {
  .portal-subject-tree .portal_tree_branch {
    max-width: 90%;
  }
}

.portal_content_branch{
  position: relative;
}

.portal-collection-content-browser .portal_content_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 1rem;

  &.x-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 475px;
    display: flex;
    flex-direction: row;

    .portal_content_branch{
      width: 400px;
      min-width: 400px;
    }
  }

  .wlo-red{
    background: $wlo-red;
    color: white;
  }

  .portal_content_branch {
    background-color: white;
    border: 1px solid #ECECEC;
    padding: 30px 20px;
    padding-bottom: 0.5rem;
    height: 475px;
    margin-bottom: 4px;
    border-radius: 8px;
    position: relative;
    left: 3px;
    box-shadow: none;


    .portal_search_button{
      a {
        width: 100%;
        margin: 10px 0px;
      }
      .portal_search_source {
        font-size: 0.7em;
        text-align: right;
        margin: 0;
        color: gray;
      }
    }

    .media-type {
      display: none;
      color: white;
      background-color: darkgray;
      padding: 2px 5px;
      border-radius: 2px;
      font-size: 0.6em;
      position: absolute;
      margin: 5px;
    }

    img {
      margin: 0 auto;
      display: block;
      object-fit: cover;
      height: 200px;
      //border: 1px solid #ECECEC;
    }

    .portal_search_text {
      h6 {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 4em;
        max-width: 300px;
        margin: 10px 0px;
      }

      p{
        font-size: 0.8em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 40px;
      }

      .media-type {
        display: none;
      }
    }
  }

}

.portal_collection_content_block{
  margin: 40px 0;
}

.portal_collection_content_header{
  margin-left: 6px;
  font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;

  .headline{
    font-size: 20px;
    line-height: 150%;
    margin: 0 0 8px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .big{
    font-size: 24px;
  }

  p{
    font-family: "Source-Serif-Regular", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #313131;
  }

  .portal_add_link{
    position: relative;
    top: -8px;
    color: $wlo-red;
    font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    text-decoration-line: underline;
    margin: 0;
    padding: 0;
    transition: 0.3s;
  }

  .portal_add_link:hover{
    color: $wlo-blue;
  }
}


.portal_content_slider{
  .wlo-red{
    background: $wlo-red;
    color: white;
  }

  .wlo-blue{
    color: $wlo-blue;
    cursor: pointer;
    transition: 0.3s;

    h6{
      color: $wlo-blue;
    }

    h6:hover{
      color: $wlo-red;
    }
  }

  .slick-slide{
    margin-right: 22px;
  }

  .portal_content_branch {
    background-color: white;
    border: 1px solid #ECECEC;
    padding: 30px 20px;
    padding-bottom: 0.5rem;
    height: 475px;
    margin-bottom: 4px;
    border-radius: 8px;
    position: relative;
    left: 3px;
    box-shadow: none;


    .portal_search_button{
      margin-top: 13px;
      a {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        text-transform: none;
        padding: 10px 24px;
        margin-bottom: 18px;
      }
      .portal_search_source {
        font-size: 0.7em;
        text-align: right;
        margin: 0;
        color: gray;
      }
    }

    .media-type {
      color: white;
      background-color: #666;
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 12px;
      font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 1.4;
      text-rendering: optimizeLegibility;
      position: absolute;
      margin: 5px;
    }

    img {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      object-fit: cover;
      height: 200px;
    }

    .portal_content_info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 245px;
    }

    .portal_search_text {

      h6 {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        font-size: 16px;
        line-height: 150%;
        margin: 10px 0px;
      }

      p{
        font-size: 0.8em;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 40px;
      }

      .media-type {
        display: none;
      }
    }
  }

}

.portal-collection-group-content{
  .portal_content_slider{
    .wlo-red{
      background: $wlo-red;
      color: white;
      transition: 0.3s;
    }
    .wlo-red:hover{
      background: $wlo-blue;
      color: white;
    }

    .wlo-blue{
      color: $wlo-blue;
      cursor: pointer;
      transition: 0.3s;

      h6{
        color: $wlo-blue;
      }

      h6:hover{
        color: $wlo-red;
      }
    }

    .slick-slide{
      margin-right: 0;
    }

    .portal_content_branch {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      border: 1px solid #ECECEC;
      height: 274px;
      border-radius: 8px;
      position: relative;
      left: 3px;
      padding: 0;
      margin-bottom: 0;
      box-shadow: none;

      .portal_content_info{
        padding: 0 24px;
        height: 137px;
      }

      .portal_search_button{
        margin-top: 13px;
        a {
          width: 100%;
          font-size: 16px;
          line-height: 20px;
          text-transform: none;
          padding: 10px 24px;
          margin-bottom: 18px;
          transition: 0.3s;
        }

        a:hover{

        }
        .portal_search_source {
          font-size: 0.7em;
          text-align: right;
          margin: 0;
          color: gray;
        }
      }

      .media-type {
        color: white;
        background-color: #666;
        padding: 2px 5px;
        border-radius: 5px;
        font-size: 12px;
        font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4;
        text-rendering: optimizeLegibility;
        position: absolute;
        margin: 5px;
      }

      img {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        object-fit: cover;
        height: 137px;
        border-radius: 8px 8px 0 0;
      }

      .portal_search_text {
        height: 56px;
        h6 {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          max-height: 56px;
          max-width: 312px;
          font-size: 16px;
          line-height: 150%;
          margin: 10px 0px;
        }

        p{
          font-size: 0.8em;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          min-height: 40px;
        }

        .media-type {
          display: none;
        }
      }
    }

    .slick-dots {
      bottom: 25px;

      li button:before {
        font-size: 24px;
        color: $wlo-red;
      }
      li.slick-active button:before{
        opacity: 1;
      }
    }

  }
}



.portal-collection-content-browser .portal_content_list {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));    */
  /* grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr)); */
  grid-gap: 1rem;
  padding: 20px;
  background-color: white;
  border: 1px solid #ECECEC;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch {
  display: flex;
  border-bottom: 1px dashed lightgrey;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_button{
  display: none;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch:hover {
  background-color: lightgrey;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_text {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_text h6 {
  font-size: 0.8em;
  text-overflow: ellipsis;
  margin: 0;
}
.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_text p {
  display: none;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch > .media-type {
  display: none;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_text media-type {
  color: white;
  background-color: #666;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  position: absolute;
  margin: 5px;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  /*border-radius: 4px;*/
}

.wp-block-themenportal-portal-edusharing-grid, .portal_collection_grid {
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));;
  grid-gap: 64px 1rem;

  .portal_block{
    margin: 16px 0;
  }

  .eduObject {
    .esLink {
      height: 100% !important;

      .edusharing_rendering_content_footer {
        height: 100% !important;
        display: flex;
        padding: 20px;
        margin: 0;

        .edusharing_rendering_content_footer_top {
          width: 100%;

          .edusharing_metadata_wrapper {
            align-self: flex-start;
          }
        }

        &:before {
          color: lightgrey;
          position: absolute;
          font-family: 'Material-Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          content: "link";
        }
      }
    }

    .edusharing_metadata_toggle_button {
      border: none;
      color: lightgrey;
    }

    .edusharing_rendering_content_wrapper {
      width: auto !important;
    }

    .edusharing_rendering_content_footer {
      background-color: #4D799A;

      a, a:visited, a:hover, a:active, a:focus {
        font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 1em;
        color: white !important;
      }

      .edusharing_rendering_content_footer_top {
        font-family: "Source-Serif-Regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        color: lightgrey;
        font-size: 1em;

        .license_permalink {
          color: white !important;
          margin: 0;
        }
      }

      .edusharing_rendering_content_footer_bot {

      }
    }
  }
}

.portal-navigation {
  input[type=checkbox] {
    width: 1.1em;
    height: 1.1em;
  }

  select, input[type=checkbox] {
    display: inline-block;
    margin: 0;
  }

  .portal_checkbox_container {
    display: flex;;
    align-items: center;
    height: 100%;

    label {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.portal_block {
  .portal_header_top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    & > div {
      //flex: 1;
    }

    .portal_header_top_left {
      h1, h6, img {
        display: inline-block;
        color: #313131;
        margin-bottom: 0px;
      }
      h5{
        font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      }
      .portal_header_top_left_title_container{
        justify-content: flex-start;
        display: flex;

        .portal_header_title{
          color: $wlo-blue;
          font-style: normal;
          font-weight: bold;
          font-size: 42px;
          line-height: 59px;
        }

        .portal_header_title::first-letter{
          text-transform: capitalize;
        }
      }
      .portal_header_icon {
        img {
          height: 48px;
          width: 48px;
          object-fit: cover;
          border-radius: 10%;
          margin-right: 10px;
          margin-top: 20px;
        }
      }
    }

    .portal_header_top_right {
      text-align: right;

      .portal_header_top_right_author_img_container {
        img {
          width: 56px;
          height: 56px;
          border-radius: 50%;
        }

        display: inline-block;
      }

      .portal_header_top_right_author_button_container {
          a{
            color: white;
            background: #27AE60;
            margin: 20px 0;
            padding: 12px;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            text-transform: none;
            transition: 0.3s;
          }

        a:hover{
          color: $wlo-lightgreen;
        }
      }
    }
  }

  .portal_header_bottom {
    margin: 20px 0px;
    margin-bottom: 40px;


  }

}

.add-collection-button {
  position: absolute;
  right: -8px;
  bottom: -16px;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: $black;
  border-radius: 50%;
  background-color: $wlo-lightgreen;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.add-collection-button:hover{
  color: $wlo-lightgreen;
  background: $wlo-blue;
}

.portal_form{

  textarea{
    height: 8rem;
  }

  input[type=checkbox]{
    transform: scale(2);
    margin-right: 16px;
  }
}

.portal_form_top_row{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;

  .portal_form_url{
    width: 45%;
    margin: 0;
  }

  p{
    text-align: center;
  }

  .portal_form_file_input{

  }
}

.portal_form_file{
  display: none;

  .portal_form_checkbox{
    display: flex;
    align-items: baseline;

    .portal_form_small{
      display: block;
      font-size: 0.7em;
    }
  }
}

.portal_form_url{
  margin-bottom: 2rem;
}

.portal_form_license{
  display: flex;
  justify-content: space-between;

  margin-top: 2rem;
  margin-bottom: 2rem;

  .portal_form_licence_block{
    width: 49%;
    background-color: #f9f9f9;
    border: 1px solid #ECECEC;
    padding: 30px 20px;
    border-radius: 8px;
  }
}

.portal_form_button{
  text-align: right;
  margin-top: 2rem;
}

.portal_form_error{
  color: white;
  background: $wlo-red;
  padding: 6px;
  border-radius: 6px;
}

.portal_form_succes{
  text-align: center;
  font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: $black;
  background-color: $wlo-lightgreen;
  border: 1px solid #ECECEC;
  padding: 30px 20px;
  width: 500px;
  margin: 0 auto;
  border-radius: 8px;
}

.tp-button{
  width: 100%;

  a{
    width: 100%;
    text-align: left !important;
    text-transform: none !important;
    margin-bottom: 0 !important;
    //transition: 0.3s;
  }

  a:hover{
    box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.2);
    //background: $black;
  }
}

.portal_switcher{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 548px;
  margin: 32px auto 16px;
  padding: 4px;
  font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
  background: #E6E6E6;
  border-radius: 6px;

  .portal_switch_button{
    background: #E6E6E6;
    color: $wlo-blue;
    font-size: 16px;
    width: 268px;
    margin: 0;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .active{
    background: $wlo-blue;
    color: white;
  }
}

@media (max-width: 700px) {
  .portal_switcher{
    flex-direction: column;
    width: 276px;
  }
}

.portal_collection_group{
  display: none;

  h3{
    font-size: 32px;
    line-height: 150%;
  }

  hr{
    border-bottom: 3px solid $black;

  }
}

.portal_feature{
  .headline{
    font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #313131;
    margin-bottom: 16px;
  }

  .portal_feature_content{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: white;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    margin-bottom: 1rem;

    .feature_image{
      display: flex;
      flex-direction: column;
      justify-content: center;

      img{
        max-height: 350px;
        object-fit: contain;
      }
    }

    .feature_text{
      padding-top: 16px;
      padding-left: 32px;
      width: 100%;

      h3{
        font-size: 24px;
        color: $wlo-blue;
      }
    }
  }
}

@media (max-width: 700px) {
  .portal_feature{

    .portal_feature_content{
      flex-direction: column;
    }

  }
}

.portal-cta{
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 8px;

  p{
    margin: 0;
    font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  a{
    margin: 0 !important;
    color: #313131 !important;
  }
}

@media (max-width: 900px) {
  .home-badge {
    margin-bottom: 250px;
    margin-left: 15%;
    text-align: center;
  }
}


.portal_widget_content{
  background: white;
  border: 1px solid #ECECEC;
  width: 100%;
  margin: 2rem auto;
  padding-bottom: 1rem;

  .widget_content_header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
    padding-top: 10px;
    background: #EFFAE2;
    text-align: center;

    h3{
      font-size: 1rem;
      padding: 8px;;
    }

    img{
      position: relative;
      top: -8px;
    }
  }

  .widget_cta{
    margin: 2rem auto;
    max-width: 70%;
    text-align: center;
  }

  .portal_collection_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
  }

  .wlo-red{
    background: $wlo-red;
    color: white;
  }

  .wlo-blue{
    color: $wlo-blue;
    cursor: pointer;
    transition: 0.3s;

    h6{
      color: $wlo-blue;
    }

    h6:hover{
      color: $wlo-red;
    }
  }
}

.portal_widget{
  display: none;
}

.no_widget_content{
  display: none;
  position: relative;
  text-align: center;
  padding: 2rem;

  .yellow_arrow{
    position: absolute;
    top: -85px;
    right: 185px;
  }

  h4{
    margin-top: 2rem;
  }
}

.widget_content_count{
  margin: 0.5rem 1.2rem;
  font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.widgets{
  margin: 1rem;
}

.widget_search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem 1rem 0;
  margin-bottom: 2rem;

  h3{
    font-size: 20px;

    img{
      position: relative;
      top: -5px;
      margin-right: 8px;
    }
  }
}


.portal_content_branch {
  background-color: white;
  border: 1px solid #ECECEC;
  padding: 30px 20px;
  padding-bottom: 0.5rem;
  height: 475px;
  margin-bottom: 4px;
  border-radius: 8px;
  position: relative;
  left: 3px;
  box-shadow: none;


  .portal_search_button{
    margin-top: 13px;
    a {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      text-transform: none;
      padding: 10px 24px;
      margin-bottom: 18px;
    }
    .portal_search_source {
      font-size: 0.7em;
      text-align: right;
      margin: 0;
      color: gray;
    }
  }

  .media-type {
    color: white;
    background-color: #666;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    position: absolute;
    margin: 5px;
    //box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }

  .widget-badge{
    position: absolute;
    top: 26px;
    right: 16px;
    height: 24px;
    margin: 8px;
    width: 19px;

    background: white;
    border-radius: 5px;
    padding: 2px 4px;
    box-sizing: content-box;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }

  .oer{
    top: 60px;
    height: 9px;
  }

  img {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    object-fit: cover;
    height: 200px;
  }

  .portal_content_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
  }

  .portal_search_text {

    h6 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 56px;
      max-width: 312px;
      font-size: 16px;
      line-height: 150%;
      margin: 10px 0px;
    }

    p{
      font-size: 0.8em;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 40px;
    }

    .media-type {
      display: none;

    }
  }
}

.portal_content_branch_empty{
  height: 390px;
  padding: 10px 20px;
  .headline{
    margin-bottom: 0.5rem;
    font-family: "Montserrat-Medium", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .portal_content_info{
    height: auto;
  }
}

.portal_widget_type{
  grid-column: 1/-1;
}

@media (max-width: 1300px) {
  .yellow_arrow{
    display: none;
  }
}

