.portal {
  background: #f9f9f9;

  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.0rem;
  }

  h6 {
    font-size: 0.8rem;
  }
}

.portal_block {
  margin: 40px 0px;
}

.portal-full-width {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  width: auto;
}

.portal-full-width .wp-block-cover__inner-container {
  max-width: 800px;
}

.portal_block .portal-breadcrumbs {

}

.portal-breadcrumbs .portal-breadcrumbs-list {
  list-style-type: none;
  margin: 0;
}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item {
  list-style-type: none;
  display: inline-block;
  font-family: "Montserrat-Medium", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item:last-child a {
  color: black;
}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item:last-child {
  font-weight: normal;
}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item:last-child .material-icons {
  display: none;
}

.portal-breadcrumbs .portal-breadcrumbs-list .portal-breadcrumbs-list-item .material-icons {
  line-height: 10px;
  font-size: 10px;
}

.portal_select {
  font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.portal_banner_slider {
  width: 100%;
  margin: 0 auto;
  height: 250px;
  overflow-y: hidden;

  h3, p, a {
    color: white !important;
  }
}

.portal_banner_slider_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background: #003E82;
  color: #ffffff;
  padding: 1rem 2rem;
}

.portal_banner_slider_content img {
  width: 240px;
  max-width: 240px;
  height: 180px;
  object-fit: contain;
  margin-right: 40px;
}

.portal_latest_posts_slider_content, .portal_latest_search_results_slider_content {
  height: 450px;

  .portal_latest_search_results_slider_content_bottom, .portal_latest_posts_slider_content_bottom{
    .button{
      width: 100%;
    }

    p {
      font-size: 0.7em;
      text-align: right;
      margin: 0;
      color: gray;
    }
  }
}

.portal_latest_posts_slider_content img, .portal_latest_search_results_slider_content img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}


.portal_banner_slider .portal_banner_slider_content .portal_banner_slider_content_text p {
  max-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
}

.portal_banner_slider .portal_banner_slider_content .portal_banner_slider_content_text .button {
  background-color: #0A246A;
  margin-top: 20px;
}

.portal_banner_slider .slick-slide {
  height: 250px;
}

.portal_banner_slider .slick-dots {
  bottom: 15px;
}

.portal_banner_slider .slick-dots li button:before {
  font-size: 10px;
  color: white;
}

.portal_widget_grid {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.portal_grid_content, .portal_latest_posts_block, .portal_latest_search_results_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.portal_latest_posts_slider, .portal_latest_search_results_slider {
  max-width: 100%;
  max-height: 475px;
  align-self: center;
  color: #313131;
}

.portal_latest_posts_slider_content, .portal_latest_search_results_slider_content {
  background-color: white;
  border: 1px solid #ECECEC;
  padding: 30px 20px;
}

.portal_latest_posts_slider .slick-list, .portal_latest_search_results_slider .slick-list {
  margin-right: -20px;
}

.portal_latest_posts_slider .slick-slide, .portal_latest_search_results_slider .slick-slide {
  margin-right: 20px;
}

.portal_latest_posts_slider .slick-arrow, .portal_latest_search_results_slider .slick-arrow {
  z-index: 1;
}

.portal_latest_posts_slider .slick-prev, .portal_latest_search_results_slider .slick-prev {
  left: -15px;
}

.portal_latest_posts_slider, .slick-next, .portal_latest_search_results_slider .slick-next {
  right: -5px;
}

.portal_latest_posts_slider .slick-arrow:before, .portal_latest_search_results_slider .slick-arrow:before {
  color: #455871;
  font-size: 30px;
}

.portal_latest_posts_slider_content_text, .portal_latest_search_results_slider_content_text {
  width: 100%;
}

.portal_latest_posts_slider_content a, .portal_latest_search_results_slider_content a {
  color: #22427C;
}

.portal_latest_posts_slider_content h6, .portal_latest_search_results_slider_content h6 {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
  height: 1.2em;
  white-space: nowrap;
  margin: 20px 0px;
}

.portal_latest_posts_slider_content p, .portal_latest_search_results_slider_content p {
  font-size: 0.8em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;
}
.portal_latest_search_results_slider_content p {
  -webkit-line-clamp: 2;
}
.portal_latest_posts_slider_content p {
  -webkit-line-clamp: 3;
}


.portal_latest_posts_list, .portal_latest_search_results_list {
  max-height: 500px;
  overflow-y: scroll;

  .portal_latest_posts_list_content, .portal_latest_search_results_list_content {
    background-color: white;
    border: 1px solid #ECECEC;
    display: flex;
    margin: 5px 0px;

    & > a {
      display: block;
      width: 160px;
      flex: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .portal_latest_posts_list_content_text, .portal_latest_search_results_list_content_text {
      margin: 30px 20px;
      display: block;
      flex: 4;

      a {
        margin: 0;
      }

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 50px;
        margin-bottom: 0;
      }
    }
  }
}

.portal_latest_search_results_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  .portal_latest_search_results_grid_container {

    .portal_latest_search_results_grid_content {
      background-color: white;
      border: 1px solid #ECECEC;
      padding: 30px 20px;

      div {
        margin: 20px 0;
      }

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }

      .portal_latest_search_results_grid_content_text {
        h5 {
          max-height: 100px;
          height: 55px;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 300px;
        }

        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-bottom: 0;
          max-width: 300px;
          height: 25px;
        }

        margin-bottom: 0;
      }
    }
  }
}


.portal-search-group {
  display: flex;
  width: 100%;
  margin-bottom: 0.8rem;
  align-items: stretch;
  font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.portal-search-group input[type='search'] {
  border-radius: 5px 0px 0px 5px;
}

.portal-search-group input[type='submit'] {
  border-radius: 0px 5px 5px 0px;
}

.portal-search-group input::placeholder {
  color: #d8d8d8;
}

.button.success {
  color: #313131;
  background-color: #E3F702;
}

.portal_search {
}

.portal_search_sources {
}

.portal_search_sources p {
  color: lightgrey;
  background: #0A246A;
  margin-right: 0.5rem;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
}


.portal-subject-tree {
  .portal_subject_list {
    & > ul {
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;
      background-color: #efefef;
      border: 4px;
      padding: 5px 10px;

      li {

        & > ul {
          list-style-type: none;

          li {
            h6 {

            }
          }
        }

        h5 {
          font-size: 1em;
        }
      }

    }
  }

  .portal_subject_grid {
    h5 {
      color: white;
    }
  }

  .portal_subject_grid, .portal_subject_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 20px;
    background-color: white;
    border: 1px solid #ECECEC;
  }
}

.portal-subject-tree .portal_tree_branch {
  display: flex;
  padding: 10px;
  border-radius: 4px;
}

.portal-subject-tree .portal_tree_branch .portal_search_text {
  display: flex;
  align-items: center;
}

.portal-subject-tree .portal_tree_branch .portal_search_text h5 {
  font-size: 0.8em;
  text-overflow: ellipsis;
  margin: 0;
}

.portal-subject-tree .portal_tree_branch img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.portal-collection-content-browser .portal_content_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  &.x-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 475px;
    display: flex;
    flex-direction: row;

    .portal_content_branch{
      width: 400px;
      min-width: 400px;
    }
  }

  .portal_content_branch {
    background-color: white;
    border: 1px solid #ECECEC;
    padding: 20px 20px;
    height: 475px;

    .portal_search_button{
      a {
        width: 100%;
        margin: 10px 0px;
      }
      .portal_search_source {
        font-size: 0.7em;
        text-align: right;
        margin: 0;
        color: gray;
      }
    }

    .media-type {
      display: none;
      color: white;
      background-color: darkgray;
      padding: 2px 5px;
      border-radius: 2px;
      font-size: 0.6em;
      position: absolute;
      margin: 5px;
    }

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      border: 1px solid #ECECEC;
    }

    .portal_search_text {
      h6 {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 300px;
        height: 1.2em;
        white-space: nowrap;
        margin: 10px 0px;
      }

      p{
        font-size: 0.8em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 40px;
      }

      .media-type {
        display: none;
      }
    }
  }

}

.portal-collection-content-browser .portal_content_list {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));    */
  /* grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr)); */
  grid-gap: 1rem;
  padding: 20px;
  background-color: white;
  border: 1px solid #ECECEC;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch {
  display: flex;
  border-bottom: 1px dashed lightgrey;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_button{
  display: none;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch:hover {
  background-color: lightgrey;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_text {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_text h6 {
  font-size: 0.8em;
  text-overflow: ellipsis;
  margin: 0;
}
.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_text p {
  display: none;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch > .media-type {
  display: none;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch .portal_search_text h5.media-type {
  color: white;
  background-color: darkgray;
  padding: 2px 5px;
  border-radius: 2px;
}

.portal-collection-content-browser .portal_content_list .portal_content_branch img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  /*border-radius: 4px;*/
}

.wp-block-themenportal-portal-edusharing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  .eduObject {
    .esLink {
      height: 100% !important;

      .edusharing_rendering_content_footer {
        height: 100% !important;
        display: flex;
        padding: 20px;
        margin: 0;

        .edusharing_rendering_content_footer_top {
          width: 100%;

          .edusharing_metadata_wrapper {
            align-self: flex-start;
          }
        }

        &:before {
          color: lightgrey;
          position: absolute;
          font-family: 'Material-Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          content: "link";
        }
      }
    }

    .edusharing_metadata_toggle_button {
      border: none;
      color: lightgrey;
    }

    .edusharing_rendering_content_wrapper {
      width: auto !important;
    }

    .edusharing_rendering_content_footer {
      background-color: #4D799A;

      a, a:visited, a:hover, a:active, a:focus {
        font-family: "Montserrat-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 1em;
        color: white !important;
      }

      .edusharing_rendering_content_footer_top {
        font-family: "Source-Serif-Regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        color: lightgrey;
        font-size: 1em;

        .license_permalink {
          color: white !important;
          margin: 0;
        }
      }

      .edusharing_rendering_content_footer_bot {

      }
    }
  }
}

.portal-navigation {
  input[type=checkbox] {
    width: 1.1em;
    height: 1.1em;
  }

  select, input[type=checkbox] {
    display: inline-block;
    margin: 0;
  }

  .portal_checkbox_container {
    display: flex;;
    align-items: center;
    height: 100%;

    label {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.portal_block {
  .portal_header_top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    & > div {
      margin: 10px 0px;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }

    .portal_header_top_left {
      p {
        margin-bottom: 0px;
      }

      img {
        height: 48px;
        width: 48px;
        object-fit: cover;
        border-radius: 10%;
      }
    }

    .portal_header_top_right {
      text-align: right;

      & > div {
        margin: 10px 0px;
      }

      .portal_header_top_right_author_img_container {
        img {
          width: 56px;
          height: 56px;
          border-radius: 50%;
        }

        display: inline-block;
      }

      .portal_header_top_right_author_button_container {

      }
    }
  }

  .portal_header_bottom {
    margin: 20px 0px;
  }

}
