<?php

// SEARCH-URL
define("WLO_SEARCH","https://suche.wirlernenonline.de/");
//define("WLO_SEARCH","https://staging.wirlernenonline.de/"); //staging

// REPO
define("WLO_REPO", "https://redaktion.openeduhub.net/edu-sharing/");
//define("WLO_REPO", "https://redaktion-staging.openeduhub.net/edu-sharing/"); // staging
define("WLO_REPO_LOGIN", ""); // add login
define("WLO_REPO_PW", ""); // add password
define("WLO_REPO_UPLOAD_LOCATION", "0fa24aa1-709e-4e86-8ac0-a5bbc093e6cb");

// WLO-METAQS
define("WLO_METAQS_URL","https://metaqs....net");
define("WLO_METAQS_NG_URL","https://metaqs-ng.....net");
define("WLO_METAQS_EDUSHARING_URL","https://repository.....net/edu-sharing/");

// AI Prompt Service
define("WLO_AI_PROMPT_SERVICE_URL", "https://ai-prompt-service.....net");
define("WLO_AI_PROMPT_SERVICE_TOKEN", "XXXXXXXXXXXXXXXX");

// Google
define("GOOGLE_MAPS_API_KEY", "XXXXXXXXXXXXXXXX");

// Page IDs
define("ADD_CONTENT_PAGE_ID", 00000);
define("CAREER_PAGE_TEMPLATE_ID", 00000);

// LDAP
define("LDAP_SERVER","10.88.88.1");
define("LDAP_USERNAME","cn=admin,dc=oer-contentbuffet,dc=info");
define("LDAP_PASSWORD",""); // add password
define("LDAP_MAIN_ORG","o=people,dc=oer-contentbuffet,dc=info");
define("LDAP_MAIN_ORG_GROUPS","ou=groups,dc=oer-contentbuffet,dc=info");

// KEYCLOAK
define("KEYCLOAK_USER", "admin");
define("KEYCLOAK_PW", ""); // add password
define("KEYCLOAK_URL", "https://login.oer-contentbuffet.info/auth/realms/master/");

// MAILCOW
define("MAILCOW_URL", "https://mail.metaventis.de/api/");
define("MAILCOW_APIKEY", "XXXXXX-XXXXXX-XXXXXX-XXXXXX-XXXXXX");